h1{
    color: rgb(230, 0, 255);
}

strong{

    color: rgb(35, 26, 118);
}

*{
    background-color: cornsilk;
}

.btn{
    background-color: blueviolet;
}

h1,strong{
    background-color: chocolate;
}

img{
    height: 400px;
    margin: 0;
    border-radius: 200px;
}

img.hover{
    transition: 0.5s;
    transform:scale(1.2);
    transform:scaleX(-1);
    border-color: black;
    border: 10px solid black;
}

#css{
    color: blueviolet;
}

